[submodule "src/emacs-flymake"]
	path = src/emacs-flymake
	url = https://github.com/illusori/emacs-flymake.git
[submodule "src/color-theme-sanityinc-solarized"]
	path = src/color-theme-sanityinc-solarized
	url = https://github.com/fgeller/color-theme-sanityinc-solarized.git
[submodule "src/jumper"]
	path = src/jumper
	url = https://github.com/fgeller/jumper.git
[submodule "src/org-mode"]
	path = src/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "src/cedet"]
	path = src/cedet
	url = https://github.com/fgeller/cedet.git
[submodule "snippets/java-mode"]
	path = snippets/java-mode
	url = https://github.com/fgeller/yasnippet-java-mode.git
