.DS_Store
saved#*message*
%backup*
.bookmarks.el
.dir.locals.el
.emacs.desktop
.eshell
TAGS
.org-id-locations
.session
abbrev_defs
ac-comphist.dat
elpa
bookmarks
info
saved
auto-save-list
*.elc
/tramp
/url/cookies
/srecode-map.el
/org-clock-save.el
/.mc-lists.el
/semanticdb
/ede-projects.el
/var/pcache/ucs-utils
/bbdb
/eshell/history
/recentf
/url
appearance.el
helm.el
god-mode.el
main.el
/vc.el
/org.el
/search.el
/boon.el
/fingers.el
/custom.el
/emacs-lisp.el
/scala.el
/eshell.el
/eshell/
/yasnippet.el
/tutorial/
/global.el
/etc/
/php.el
/go.el
/email.el
/java.el
/compilation.el
/session.*
/site-lisp/org
/web-mode.el
/ivy.el
scratch.org
/auto-complete.el
