.DS_Store
saved#*message*
%backup*
.bookmarks.el
.dir.locals.el
.emacs.desktop
.eshell
TAGS
.org-id-locations
.session
abbrev_defs
ac-comphist.dat
elpa
bookmarks
info
saved
auto-save-list
*.elc
/tramp
/url/cookies
/init.el
/srecode-map.el
/org-clock-save.el
/.mc-lists.el
/semanticdb
/ede-projects.el
/var/pcache/ucs-utils
/bbdb
/eshell/history
/recentf
/url
appearance.el
helm.el
god-mode.el
main.el
/vc.el
/org.el
/search.el
/navigation.el
/boon.el
/fingers.el
