.DS_Store
saved#*message*
%backup*
.bookmarks.el
.dir.locals.el
.emacs.desktop
.eshell
TAGS
.org-id-locations
.session
abbrev_defs
ac-comphist.dat
elpa
bookmarks
info
saved
auto-save-list
*.elc
/tramp
/url/cookies
/init.el
/srecode-map.el
/org-clock-save.el
